@import "colors";
@import "media-queries";

$width: $width-large-desktop; /* value from media queries file - 1200px */

@mixin layout-main {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

* {
box-sizing: border-box;
}  

html {
  font-size: 100%;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.5;
  background: $color-background;
  color: $color-text-dark;
} 

@import "header";

main > section {
  @include layout-main;
}

@import "albums";
@import "album";
@import "footer";

@import "perfundo-fix";